* {
    margin: 0;
    padding: 0;
}

/* Body da index */
.pagina_login {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
}

#interface_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 75%;
    margin: 0;
    padding: 0;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background-color: #0D1136;
}

#box-imagem {
    height: 100%;
    width: 50%;
}

#box-imagem img {
    height: 100%;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    padding-top: 5%;
    width: 100%;
}

#texto_login {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 5%;
    font-size: 2.0rem;
}

.login {
    width: 80%;
    padding-top: 5%;
}

.login input  {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border-color: #0D1136;
    margin-top: 30px;
    padding: 0 10px;
    background-color: darkgray;
}

.div_botao {
    display: flex;
    justify-content: center;
}

.botao_login {
    width: 62%;
    height: 42px;
    border-radius: 10px;
    border-color: #0D1136;
    margin-top: 40px;
    background-color: dimgray;
    border: 1px solid transparent;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.5rem; 
}

.email , .senha , .botao_login{
    display: flex;
    justify-content: center;
    width: 100%;
}

.email input {
    background-image: url(./assets/o-email.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 95%;
    background-position-y: center;
    padding: 0 15% 0 5%;
    outline: none;
}

.senha input {
    background-image: url(./assets/cadeado_senha.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 95%;
    background-position-y: center;
    padding: 0 15% 0 5%;
    outline: none;
}

#link_cadastro a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-top: 20px;
}

#link_cadastro a:hover {
    color: blue;
}

/* Body da tela principal */
.tela_principal {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo_tela_principal {
    padding: 0;
}

.interface {
    display: flex;
    height: 100%;
}

#atalhos {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

#atalhos a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#atalhos img {
    width: 35px;
}

.painel_esquerdo {
    height: 100vh;
    width: 350px;
    background-color: #D9D9D9;
    margin-top: 5px;
    border: solid 2px;
    border-color: #c5c7c9;
}

.painel_esquerdo img {
    width: 95%;
    margin-top: 10%;
    justify-content: center;
}

.painel_esquerdo a {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 16%;
}

.centro {
    width: 100vw;
    margin: 15px 10px;
}

.caixa_titulo {
    display: flex;
    height: 1px;
    width: 100%;
    background-color: #D9D9D9;
    align-items: center;
    border: solid 2px;
    border-color: #c5c7c9;
    margin-top: 10px;
}

h1 {
    margin-top: 20px;
    padding-left: 2%;
    font-size: 2.0rem;
}

.linha_caixas {
    display: flex;
    justify-content: space-evenly;
}

.caixa_estoque , .caixa_cadastrar , .caixa_excluir, .caixa_editar {
    display: flex;
    height: 65px;
    width: 18%;
    background-color: #D9D9D9;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    border-color: #c5c7c9;
}

.caixa_estoque {
    background-image: url(./assets/estoque-pronto.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 10%;
}

.caixa_cadastrar {
    background-image: url(./assets/registro.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 10%;
}

.caixa_excluir {
    background-image: url(./assets/excluir.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 12%;
}

.caixa_editar {
    background-image: url(./assets/escrever.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 15%;
}

.caixa_dados {
    width: 100%;
    height: 350px;
    background-color: #e1e2e6;
    margin-top: 15px;
    border: solid 2px;
    border-color: #c5c7c9;
    border-radius: 2px;
}

.input_estoque {
    display: flex;
    justify-content: center;
    
}

.input_estoque input {
    display: flex;
    width: 80%;
    height: 40px;
    margin: 10px;
    background-image: url(https://cdn-icons.flaticon.com/png/128/3991/premium/3991270.png?token=exp=1660932313~hmac=13125a7181f4a7b999a3a6b0c24ae067);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 95%;
    padding-left: 2%;
    border-color: #0D1136;
}

/* Página de cadastro */

.pagina_cadastro {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-color: darkgray;
    justify-content: center;
    align-items: center;
}

#interface-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 75%;
    margin: 0;
    padding: 0;
}

.caixa_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background-color: #0D1136;
}

#box-cadastro {
    height: 100%;
    width: 50%;
}

#box-cadastro img {
    height: 100%;
    width: 100%;
}

.banner_cadastro {
    display: flex;
    height: 100%;
}

.logo_cadastro {
    display: flex;
    justify-content: center;
}

.logo_cadastro img {
    width: 100%;
    padding-top: 3%;
}

#texto_cadastro {
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 5%;
    font-size: 1.5rem;
}

.cadastro {
    width: 80%;
}

.cadastro input  {
    width: 90%;
    height: 48px;
    border-radius: 10px;
    border-color: #0D1136;
    margin-top: 30px;
    padding: 0 10px;
    background-color: darkgray;
}

.cadastro_usuario, .cadastro_email , .cadastro_senha , .confirmacao_senha, .botao_cadastro{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cadastro_usuario input {
    background-image: url(./assets/icons8-usuário-de-gênero-neutro-32.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-x: 96%;
    background-position-y: center;
    padding: 0 15% 0 5%;
    outline: none;
}

.cadastro_email input {
    background-image: url(./assets/o-email.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 95%;
    background-position-y: center;
    padding: 0 15% 0 5%;
    outline: none;
}

.cadastro_senha input , .confirmacao_senha input {
    background-image: url(./assets/cadeado_senha.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 95%;
    background-position-y: center;
    padding: 0 15% 0 5%;
    outline: none;
}

.botao_cadastro {
    width: 58%;
    height: 45px;
    border-radius: 10px;
    border-color: #0D1136;
    margin-top: 20px;
    background-color: dimgray;
    border: 1px solid transparent;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.5rem; 
}

#link_login a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    margin-top: 15px;
}

#link_login a:hover {
    color: blue;
}